<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766148369894-l6rm161cc1lb97c2fehli6rcjpptis5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766148369894-l6rm161cc1lb97c2fehli6rcjpptis5t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766148369894-4dg68q917kc8fhlh4upa1cdnbk1qs6hp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2G1BD9Eq3TllKUPX8t__hESvT-5rVhe4</string>
	<key>GCM_SENDER_ID</key>
	<string>766148369894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ads.wealthfolio</string>
	<key>PROJECT_ID</key>
	<string>wealthfolio-61335</string>
	<key>STORAGE_BUCKET</key>
	<string>wealthfolio-61335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766148369894:ios:6b15867fc2e08459964a27</string>
</dict>
</plist>